project.name=BlogWeb
project.env=production

destination.dir="/data/www/BlogWeb"

tmp.dir=/tmp

git.repo=https://github.com/floriannatali/BlogWeb.git

composer.bin=/usr/local/bin/composer

rsync.exclude=./rsyncExclude.txt
